<% title "Taxon Names" %>

<table>
  <tr>
    <th>Scientific Name</th>
    <th>Basionym Authorship</th>
    <th>Authorship Year</th>
    <th>Basionym For</th>
  </tr>
  <% for taxon_name in @taxon_names %>
    <tr>
      <td><%=h taxon_name.scientific_name %></td>
      <td><%=h taxon_name.basionym_authorship %></td>
      <td><%=h taxon_name.authorship_year %></td>
      <td><%=h taxon_name.basionym_for_id %></td>
      <td><%= link_to "Show", taxon_name %></td>
      <td><%= link_to "Edit", edit_taxon_name_path(taxon_name) %></td>
      <td><%= link_to "Destroy", taxon_name, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Taxon Name", new_taxon_name_path %></p>
