<% title "Name Relationship" %>

<p>
  <strong>Taxon Name From:</strong>
  <%=h @name_relationship.taxon_name_from_id %>
</p>
<p>
  <strong>Taxon Name To:</strong>
  <%=h @name_relationship.taxon_name_to_id %>
</p>
<p>
  <strong>Date Enforced:</strong>
  <%=h @name_relationship.date_enforced %>
</p>
<p>
  <strong>Is Valid:</strong>
  <%=h @name_relationship.is_valid %>
</p>

<p>
  <%= link_to "Edit", edit_name_relationship_path(@name_relationship) %> |
  <%= link_to "Destroy", @name_relationship, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", name_relationships_path %>
</p>
